.vscode

/viser

/arguments/__pycache__
/data/
/model/__pycache__
/scene/__pycache__
/render/__pycache__
/utils/__pycache__
/lpipsPyTorch/__pycache__
/lpipsPyTorch/modules/__pycache__

/submodules/brasterizer/build
/submodules/brasterizer/brasterizer/__pycache__
/submodules/diff-Brasterization/build
/submodules/diff-Brasterization/diff-Brasterization/__pycache__

/submodules/brasterizer/brasterizer.egg-info
*.so
/submodules/diff-Brasterization/diff_brasterization/__pycache__
*.so
/submodules/diff-Brasterization/diff_brasterization.egg-info


/output/
/outputs/
*.ply
*.obj
/wandb
*.lnk
*.mp4
/submodules/brasterizer/third_party/glm/doc
/submodules/diff-Brasterization/third_party/glm/doc
